<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel="tests" thread-count="3" >
<!-- Parallel Cross-browser testing is done here -->
<test name="TestingOnChrome">
<parameter name="browserName" value="Chrome"></parameter>
<classes>
<class name="wait_package.Media_icon"/>
</classes>
</test> 
<test name="TestingOnFirebox">
<parameter name="browserName" value="firebox"></parameter>
<classes>
<class name="wait_package.Media_icon"/>
</classes>
</test>
</suite>